* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.App,
.app-container {
  width: 100%;
  height: 100%;
}

.App {
  padding: 0 20px 20px 20px;
}

.text-light {
  color: rgba(0, 0, 0, 0.9);
}
.pointer {
  cursor: pointer;
}
.underlinde {
  text-decoration: underline;
}

.post {
  display: flex;
  margin: 15px 0 15px 0;
  list-style: none;
}

.title-number {
  font-size: 13px;
  margin-right: 10px;
}
.title {
  font-size: 14px;
  font-weight: 600;
}
.title a {
  text-decoration: none;
}

.sub {
  font-size: 13px;
}

.sub span {
  margin-right: 3px;
}
ul {
  list-style: none;
}
.comment {
  margin-bottom: 15px;
}

a {
  color: #000;
}
/* laoding animation */
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.loading {
  position: absolute;
  margin-top: 35vh;
  border: 1vw solid rgba(0, 0, 0, 0.05);
  border-top: 1vw solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
